body {
  padding: 0; 

}

.tile {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  padding: 0;
  float: left;
  text-align: center;
}

.marked {
  background-color: yellow;
  color: yellow;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

button {
  margin-left: 10px;
}